
html {
    overflow-x:hidden;
}

#btn {
    background-color:rgb(255, 158, 158);
    border:2px solid black;
    border-radius:19px;
}

#btn:hover {
    background-color:rgb(255, 114, 114);
    transition-duration: 0.3s;
}

h1 {
    color:black;
    font-size:60px;
}

body {
    background-image:linear-gradient(white,rgb(255, 172, 172));
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color:black;
}

ul {
    text-align:left;
}

.name {
    font-size: 40px;
}

.card {
    border-radius:30px;
    background-color:antiquewhite;
}

.gottaEdit {
    font-size:25px;
}

li {
    font-size:17px;
    list-style: none;
    margin-bottom:10px;
}

.instruction {
    font-size:18px;
}