
html {
    overflow-x:hidden;
}

#btn1, #reset, #btn2, #btn3 {
    background-color:rgb(255, 158, 158);
    border:2px solid black;
    border-radius:19px;
}

.btn {
    font-weight:bold;
}

#btn1:hover, #reset:hover, #btn2:hover, #btn3:hover {
    background-color:rgb(255, 114, 114);
    transition-duration: 0.3s;
}

h1 {
    color:black;
    font-size:60px;
     font-family: "Playwrite AU TAS", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image:linear-gradient(white,rgb(255, 172, 172));
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color:black;
}

ul {
    text-align:left;
}

.name {
    font-size: 40px;
     font-family: "Playwrite AU TAS", cursive;
  font-weight: 400;
  font-style: normal;
}

.card {
    border-radius:30px;
    background-image: url(imgs/bgimg.jpg);
    border:2px solid rgb(255, 135, 151);
    box-shadow:4px 4px 10px 2px rgb(170, 69, 83);
}

.gottaEdit {
    font-size:25px;
}

li {
    font-size:17px;
    list-style: none;
    margin-bottom:10px;

}

.instruction {
    font-size:19.5px;
}